.chat {
  display: flex;
  height: 100%;
  border: 1px solid rgba(159, 183, 197, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.chat-users {
  border-right: 1px solid rgba(159, 183, 197, 0.1);
  padding: 10px;
  width: 200px;
  background-color: #f6f9fa;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
}

.messages {
  flex: 1;
  height: calc(100% - 155px);
  overflow: auto;
}

.message p {
  display: inline-flex;
  border-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px 15px;
  color: #fff;
  margin-bottom: 2px;
}

.sent-message p {
  background-color: rgb(116, 50, 61);
}
.received-message p {
  background-color: rgb(22, 22, 207);
}

.message span {
  opacity: 0.5;
  font-size: 14px;
}

.chat-users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-users ul li {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #fff;
  padding: 8px 14px;
  box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
  font-weight: 500;
}

.chat-messages form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-messages form textarea {
  width: 100%;
  margin-bottom: 10px;
}

.received-message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.sent-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.top-user {
  display: flex;
  font-size: 30px;
  background-color: rgb(181, 226, 240);
}

.top-user p {
  font-size: small;
  margin-left: auto;
}

.top-text-user {
  padding-left: 20px;
}
