.messages {
  flex: 1;
  height: calc(100% - 155px);
  overflow: auto;
  background-color: skyblue;
  opacity: 40%;
}

.message {
  margin-bottom: 20px;
}

.message p {
  display: inline-flex;
  border-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #7160ff;
  padding: 10px 15px 15px;
  color: #fff;
  margin-bottom: 2px;
}

.message span {
  opacity: 0.5;
  font-size: 14px;
}

.chat-users ul li {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
  font-weight: 500;
  background-color: #0080ff0d;
}

.btn {
  background: #044b92;
  color: White;
  border: #0c3055;
  border-radius: 12px;
  width: 170px;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.form-control {
  margin-top: 20px;
  width: 70%;
  margin-left: 20px;
  border: 1px solid #39c;
}

.send-area {
  width: 100%;
  background-color: skyblue;
  opacity: 70%;
}

.search-control {
  margin-top: 5%;
  height: 25px;
  justify-content: start;
}

.top {
  height: 20px;
  width: 20px;
}
